<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Vet</title>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:100,300,400,500" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animsition/3.5.2/css/animsition.css">
    <link rel="stylesheet" type="text/css" href="css/sweetalert.css">
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.blue-light_blue.min.css">  
    <link rel="stylesheet" href="css/swipebox.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <div class="animsition">
      <!-- Page Content -->
      <main class="mdl-layout__content login-blank">
        <div class="login mdl-shadow--2dp"> <!-- card -->
          <div class="account-info mdl-color--primary">

            <div class="account-navigation"> <!-- top icons -->
              <a class="mdl-button mdl-js-button mdl-button--icon left" >
                <i class="material-icons"></i>
              </a>
              <button class="mdl-button mdl-js-button mdl-button--icon right">
                <i class="material-icons"></i>
              </button>
              <div class="clr"></div>

              <!--<div class="minilogo-account user1"></div> -->
            <div class="login-title">
              <h1><FONT Color="#ffffff">Veterinarian</FONT></h1>
            </div>
              <span id="vetComment">Vet's comments go here.</span>
            </div>
          </div>

          <div class="account-data"> <!-- text fields -->
      <img id="vetImage" src="images/happy_doc.png" alt="">
            
      <div class="padding-top-32"></div>
      
            <div class="card-autor">
              <p>Remaining food groups:</p>             
              <div class="photo-add"g>
                <div class="square-user" id="icon_grains" src="images/grey_grains"></div>
                <div class="square-user" id="icon_veggies" src="images/grey_veggies"></div>
                <div class="square-user" id="icon_fruit" src="images/grey_fruit"></div>
                <div class="square-user" id="icon_dairy" src="images/grey_dairy"></div>
                <div class="square-user" id="icon_protein" src="images/grey_protein"></div>
                <div class="clr"></div>
              </div>
            </div>
          
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary margin-top-32 right" href="/home">                
              LEMME SEE MY DOGGIE
            </a>
            <div class="clr"></div>
            
          </div>

        </div>
      </main>
    </div>

    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animsition/3.5.2/js/jquery.animsition.js"></script>
    <script src="js/sweetalert.min.js"></script> 
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.min.js"></script>
    <script src="js/jquery.swipebox.min.js"></script>
    <script src="js/function.js"></script>
  
  <!-- Change Image based on Mood -->
    <script>
      var avgMood = {{userData.0.mood}};
      if(avgMood == 5)
        document.getElementById("vetImage").src = "images/vet_happy.png";
      else if(avgMood == 4)
        document.getElementById("vetImage").src = "images/vet_satisfied.jpg";
      else if(avgMood == 3)
        document.getElementById("vetImage").src = "images/vet_apathetic.jpg";
      else if(avgMood == 2)
        document.getElementById("vetImage").src = "images/vet_sad.jpg";
      else 
        document.getElementById("vetImage").src = "images/vet_disgusted.jpg";
    </script>
  
  <!-- Change icons based on food groups eaten -->
  <script>
    var ateGrains = {{userData.0.ateGrains}};
    var ateDairy = {{userData.0.ateDairy}};
    var ateVeggies = {{userData.0.ateVeggies}};
    var ateFruit = {{userData.0.ateFruit}};
    var ateProtein = {{userData.0.ateProtein}};
    if(ateGrains == 1)
    document.getElementById("icon_grains").style.background = "url('images/grains.png') no-repeat center / cover";
    if(ateDairy == 1)
      document.getElementById("icon_dairy").style.background = "url('images/dairy.png') no-repeat center / cover";
    if(ateProtein == 1)
      document.getElementById("icon_protein").style.background = "url('images/protein.png') no-repeat center / cover";
    if(ateVeggies == 1)
      document.getElementById("icon_veggies").style.background = "url('images/veggies.png') no-repeat center / cover";
    if(ateFruit == 1)
      document.getElementById("icon_fruit").style.background = "url('images/fruit.png') no-repeat center / cover";
  </script>


  <!-- Change Vet Comments based on Mood -->
  <script type="text/javascript">
    var avgMood = {{userData.0.mood}};
      if(avgMood == 5)
        document.getElementById("vetComment").text = "Great job! Mr.Peanutbutter is in excellent health!";
      else if(avgMood == 4)
        document.getElementById("vetComment").text = "Mr. Peanutbutter is quite happy!";
      else if(avgMood == 3)
        document.getElementById("vetComment").text = "Mr.Peanutbutter seems well.";
      else if(avgMood == 2)
        document.getElementById("vetComment").text = "Mr.Peanutbutter is feeling sad!";
      else 
        document.getElementById("vetComment").text = "Oh no! Mr.Peanutbutter is feeling disgusted! What have you been eating recently?";
  </script>


  </body>
</html>