<!DOCTYPE html>
<html class="no-js">
  <head>
  <!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='134079262-0',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->

    <meta charset="utf-8">
    <title>Fido - Vet</title>
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

     <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/introHCI.css" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:100,300,400,500" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animsition/3.5.2/css/animsition.css">
    <link rel="stylesheet" type="text/css" href="css/sweetalert.css">
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.blue-light_blue.min.css">  
    <link rel="stylesheet" href="css/swipebox.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <div class="animsition">
      <!-- Header -->
      <div class="mdl-layout mdl-js-layout mdl-layout--overlay-drawer-button">
        <header class="mdl-layout__header mdl-shadow--1dp bg-white">
          <div class="mdl-layout__header-row">
            <!-- Title -->
			
            <span class="mdl-layout-title">Veterinarian</span>
            
          </div>
        </header>
        <!-- Sidebar -->
        <div class="mdl-layout__drawer">

          <!-- Top -->
          <div class="drawer-header">
            <img src="images/user.jpg" alt="">
          </div>
          
          <!-- Main Navigation -->
          <nav class="mdl-navigation">
            <div class="mdl-collapse first">
                <a class="mdl-navigation__link mdl-collapse__button">
                    
                    <span>{{userData.0.email}}</span>
                </a>
                
            </div>
            <a class="mdl-navigation__link animsition-link" href="/home"><i class="material-icons">home</i><span>Home</span></a>
            <a class="mdl-navigation__link animsition-link" href="/homes"><i class="material-icons">home</i><span>Home2</span></a>
            <a class="mdl-navigation__link animsition-link" href="/vetp"><i class="material-icons">pets</i><span>Vetp</span></a>
            <a class="mdl-navigation__link animsition-link" href="/vet"><i class="material-icons">healing</i><span>Vet</span></a>
            <a class="mdl-navigation__link animsition-link" href="/history"><i class="material-icons">history</i><span>History</span></a>
            <a class="mdl-navigation__link animsition-link" href="/shop"><i class="material-icons">shopping_cart</i><span>Shop</span></a>
            <div class="drawer-separator"></div>
            
            <div class="mdl-collapse">
                <a class="mdl-navigation__link mdl-collapse__button"><i class="material-icons">settings</i>
                    <i class="material-icons mdl-collapse__icon mdl-animation--default">expand_more</i>
                    <span>Account</span>
                </a>
                <div class="mdl-collapse__content-wrapper">
                  <div class="mdl-collapse__content mdl-animation--default" style="margin-top: -156px;">

                    <a class="mdl-navigation__link animsition-link" href="/logout">Logout</a>
                    
                  </div>
                </div>
            </div>
          </nav>
        </div>
        
        <!-- Page Content -->
        <main class="mdl-layout__content">

          
          <div class="profile-image">
            <img src="images/happy_doc.png" alt="">
            
          </div>

          <div class="page-header bg-white">
            <div class="breadcrumb">
              
            </div>
            <h1 class="page-title">Vet's Evaluation:</h1>
          </div>

          <div class="container padding-top-0 padding-bottom-32">
            <p id="vetComment">Vet's comments go here.</p> 
			<div class="padding-top-32"></div>
      
            
              <p>Remaining food groups:</p>             
              <div class="photo-add">
                <div class="square-user" id="icon_grains" src="../public/images/grey_grains.png"></div>
                <div class="square-user" id="icon_veggies" src="../public/images/grey_veggies.png"></div>
                <div class="square-user" id="icon_fruit" src="../public/images/grey_fruit.png"></div>
                <div class="square-user" id="icon_dairy" src="../public/images/grey_dairy.png"></div>
                <div class="square-user" id="icon_protein" src="../public/images/grey_protein.png"></div>
                <div class="clr"></div>
              </div>
            
           
              
            </div>  

        <!-- <div class="account-data"> <!-- text fields --> -->
     
            
      <!-- <div class="padding-top-32"></div> -->
      
            <!-- <div class="card-autor"> -->
              <!-- <p>Remaining food groups:</p>              -->
              <!-- <div class="photo-add"> -->
                <!-- <div class="square-user" id="icon_grains" src="images/grey_grains.png"></div> -->
                <!-- <div class="square-user" id="icon_veggies" src="images/grey_veggies.png"></div> -->
                <!-- <div class="square-user" id="icon_fruit" src="images/grey_fruit.png"></div> -->
                <!-- <div class="square-user" id="icon_dairy" src="images/grey_dairy.png"></div> -->
                <!-- <div class="square-user" id="icon_protein" src="images/grey_protein.png"></div> -->
                <!-- <div class="clr"></div> -->
              <!-- </div> -->
            <!-- </div> -->
          
            <!-- <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary margin-top-32 right" href="/home">                 -->
              <!-- LEMME SEE MY DOGGIE -->
            <!-- </a> -->
            <!-- <div class="clr"></div> -->
            
          <!-- </div>   -->
        </main>
      </div>
    </div>


    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animsition/3.5.2/js/jquery.animsition.js"></script>
    <script src="js/sweetalert.min.js"></script> 
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.min.js"></script>
    <script src="js/jquery.swipebox.min.js"></script>
    <script src="js/function.js"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
<!-- Change Image based on Mood -->
    <script>
      var avgMood = {{userData.0.mood}};
      if(avgMood == 5)
        document.getElementById("vetImage").src = "images/vet_happy.png";
      else if(avgMood == 4)
        document.getElementById("vetImage").src = "images/vet_satisfied.jpg";
      else if(avgMood == 3)
        document.getElementById("vetImage").src = "images/vet_apathetic.jpg";
      else if(avgMood == 2)
        document.getElementById("vetImage").src = "images/vet_sad.jpg";
      else 
        document.getElementById("vetImage").src = "images/vet_disgusted.jpg";
    </script>
  
  <!-- Change icons based on food groups eaten -->
  <script>
    var ateGrains = {{userData.0.ateGrains}};
    var ateDairy = {{userData.0.ateDairy}};
    var ateVeggies = {{userData.0.ateVeggies}};
    var ateFruit = {{userData.0.ateFruit}};
    var ateProtein = {{userData.0.ateProtein}};
    if(ateGrains == 1)
    document.getElementById("icon_grains").style.background = "url('images/grains.png') no-repeat center / cover";
    if(ateDairy == 1)
      document.getElementById("icon_dairy").style.background = "url('images/dairy.png') no-repeat center / cover";
    if(ateProtein == 1)
      document.getElementById("icon_protein").style.background = "url('images/protein.png') no-repeat center / cover";
    if(ateVeggies == 1)
      document.getElementById("icon_veggies").style.background = "url('images/veggies.png') no-repeat center / cover";
    if(ateFruit == 1)
      document.getElementById("icon_fruit").style.background = "url('images/fruit.png') no-repeat center / cover";
  </script>


  <!-- Change Vet Comments based on Mood -->
  <script type="text/javascript">
    var avgMood = {{userData.0.mood}};
      if(avgMood == 5)
        document.getElementById("vetComment").innerHTML = "Great job! Mr.Peanutbutter is in excellent health!";
      else if(avgMood == 4)
        document.getElementById("vetComment").innerHTML = "Mr. Peanutbutter is quite happy!";
      else if(avgMood == 3)
        document.getElementById("vetComment").innerHTML = "Mr. Peanutbutter seems well.";
      else if(avgMood == 2)
        document.getElementById("vetComment").innerHTML = "Mr. Peanutbutter is feeling sad!";
      else 
        document.getElementById("vetComment").innerHTML = "Oh no! Mr. Peanutbutter is feeling disgusted! What have you been eating recently?";
  </script>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87671935-1', 'auto');
  ga('send', 'pageview');

</script>

  </body>
</html>
